.ele-container {
  background-color: white;
  height: 100%;
  box-sizing: border-box;
  
  
  > .ele-container {
    padding: 10px;
  }
  
  &,
  > .ele-pro-table {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  > .el-table {
    flex: 1;
    display: flex;
    flex-direction: column;
    
    > .el-table__body-wrapper {
      flex: 1;
      overflow: auto;
      flex-basis: 0;
      max-height: calc(100vh - 200px);
    }
  }
  
  > .ele-pro-table > .el-pagination {
    margin-top: 7px !important;
    padding: 0px 0;
    box-sizing: border-box;
  }
}

.ele-box {
  @extend .ele-container;
}