.centre-bank-take-goods {
  :deep(.el-table-column--selection .cell) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
  :deep(.el-table-column--selection .el-checkbox) {
    margin: 0;
  }
  :deep(.el-table th.el-table-column--selection .cell) {
    display: flex;
    justify-content: center;
  }
}
